In [1]:
import pandas as pd
import numpy as np
import plotly

In [2]:
# read the data at first 
data = pd.read_csv("Flights dataset.csv")
data.head(10)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,FL_NUM,ORIGIN,...,CANCELLATION_CODE,DIVERTED,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 35
0,2009,12,2,3,9E,20363,9E,91879E,850,ATL,...,NaN,0.0,61.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2009,12,3,4,9E,20363,9E,92289E,850,ATL,...,NaN,0.0,49.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,12,4,5,9E,20363,9E,91629E,850,ATL,...,NaN,0.0,53.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2009,12,6,7,9E,20363,9E,91709E,850,ATL,...,NaN,0.0,51.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,12,7,1,9E,20363,9E,92289E,850,ATL,...,NaN,0.0,57.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2009,12,9,3,9E,20363,9E,92009E,850,ATL,...,NaN,0.0,53.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2009,12,10,4,9E,20363,9E,91539E,850,ATL,...,NaN,0.0,52.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
7,2009,12,11,5,9E,20363,9E,92289E,850,ATL,...,NaN,0.0,48.0,356.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2009,12,13,7,9E,20363,9E,91629E,850,ATL,...,NaN,0.0,54.0,356.0,0.0,0.0,1.0,0.0,89.0,NaN
9,2009,12,14,1,9E,20363,9E,91869E,850,ATL,...,NaN,0.0,57.0,356.0,0.0,0.0,25.0,0.0,0.0,NaN

In [3]:
# pick up the data we need to use. 
columns_names = data.columns
columns_names

Index(['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'CARRIER', 'TAIL_NUM', 'FL_NUM', 'ORIGIN',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'ORIGIN_WAC',
       'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM', 'DEST_WAC',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'AIR_TIME',
       'DISTANCE', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 35'],
      dtype='object')

In [4]:
data.isna().sum()

YEAR                        0
MONTH                       0
DAY_OF_MONTH                0
DAY_OF_WEEK                 0
UNIQUE_CARRIER              0
AIRLINE_ID                  0
CARRIER                     0
TAIL_NUM                 4558
FL_NUM                      0
ORIGIN                      0
ORIGIN_CITY_NAME            0
ORIGIN_STATE_ABR            0
ORIGIN_STATE_NM             0
ORIGIN_WAC                  0
DEST                        0
DEST_CITY_NAME              0
DEST_STATE_ABR              0
DEST_STATE_NM               0
DEST_WAC                    0
CRS_DEP_TIME                0
DEP_TIME                14193
DEP_DELAY               14193
CRS_ARR_TIME                0
ARR_TIME                15178
ARR_DELAY               16218
CANCELLED                   0
CANCELLATION_CODE      514539
DIVERTED                    0
AIR_TIME                16218
DISTANCE                    0
CARRIER_DELAY          397249
WEATHER_DELAY          397249
NAS_DELAY              397249
SECURITY_DELAY         397249
LATE_AIRCRAFT_DELAY    397249
Unnamed: 35            529269
dtype: int64

In [5]:
# As we can see that, there are too many null value appearing in the last of columns. we need to
# drop them all in case of affecting the accuracy of data. 
drop_data = data.drop(['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 35', 'CANCELLATION_CODE'], axis = 1)

drop_data.head(10)

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,TAIL_NUM,FL_NUM,ORIGIN,...,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,AIR_TIME,DISTANCE
0,2009,12,2,3,9E,20363,9E,91879E,850,ATL,...,1755,1803.0,8.0,1929,1943.0,14.0,0.0,0.0,61.0,356.0
1,2009,12,3,4,9E,20363,9E,92289E,850,ATL,...,1755,1752.0,-3.0,1929,1924.0,-5.0,0.0,0.0,49.0,356.0
2,2009,12,4,5,9E,20363,9E,91629E,850,ATL,...,1755,1754.0,-1.0,1929,1920.0,-9.0,0.0,0.0,53.0,356.0
3,2009,12,6,7,9E,20363,9E,91709E,850,ATL,...,1755,1750.0,-5.0,1929,1917.0,-12.0,0.0,0.0,51.0,356.0
4,2009,12,7,1,9E,20363,9E,92289E,850,ATL,...,1755,1752.0,-3.0,1929,1930.0,1.0,0.0,0.0,57.0,356.0
5,2009,12,9,3,9E,20363,9E,92009E,850,ATL,...,1755,1753.0,-2.0,1929,1934.0,5.0,0.0,0.0,53.0,356.0
6,2009,12,10,4,9E,20363,9E,91539E,850,ATL,...,1755,1754.0,-1.0,1929,1920.0,-9.0,0.0,0.0,52.0,356.0
7,2009,12,11,5,9E,20363,9E,92289E,850,ATL,...,1755,1753.0,-2.0,1929,1905.0,-24.0,0.0,0.0,48.0,356.0
8,2009,12,13,7,9E,20363,9E,91629E,850,ATL,...,1755,1924.0,89.0,1929,2059.0,90.0,0.0,0.0,54.0,356.0
9,2009,12,14,1,9E,20363,9E,91869E,850,ATL,...,1755,1836.0,41.0,1929,1954.0,25.0,0.0,0.0,57.0,356.0

In [6]:
# Now, even if we delete all the null data based on drop_data, we can also keep most of data,
# which will not generate influence of overall accuracy. 
clean_data = drop_data.dropna()
clean_data.isna().sum()

YEAR                0
MONTH               0
DAY_OF_MONTH        0
DAY_OF_WEEK         0
UNIQUE_CARRIER      0
AIRLINE_ID          0
CARRIER             0
TAIL_NUM            0
FL_NUM              0
ORIGIN              0
ORIGIN_CITY_NAME    0
ORIGIN_STATE_ABR    0
ORIGIN_STATE_NM     0
ORIGIN_WAC          0
DEST                0
DEST_CITY_NAME      0
DEST_STATE_ABR      0
DEST_STATE_NM       0
DEST_WAC            0
CRS_DEP_TIME        0
DEP_TIME            0
DEP_DELAY           0
CRS_ARR_TIME        0
ARR_TIME            0
ARR_DELAY           0
CANCELLED           0
DIVERTED            0
AIR_TIME            0
DISTANCE            0
dtype: int64

In [7]:
# Now, we want to know which state in US has the longest air time. 

import plotly.graph_objects as go
import dash
import dash_core_components as dcc
import dash_html_components as html

group_air_length = clean_data[['ORIGIN_STATE_ABR', 'AIR_TIME']].groupby("ORIGIN_STATE_ABR").apply(np.sum, axis=0)
states_list = group_air_length['ORIGIN_STATE_ABR'].index.tolist()
group_air_length_list = group_air_length['AIR_TIME'].tolist()
group_air_length_list = np.round(np.divide(group_air_length_list, 1000),2)

group_delay = clean_data[['ORIGIN_STATE_ABR', 'ARR_DELAY']].groupby('ORIGIN_STATE_ABR').apply(np.mean, axis=0)
group_delay_list = np.round(group_delay['ARR_DELAY'].tolist(),2)
group_distance = clean_data[['ORIGIN_STATE_ABR', 'DISTANCE']].groupby('ORIGIN_STATE_ABR').apply(np.sum, axis=0)
group_distance_list = group_distance['DISTANCE'].tolist()

array_data = np.column_stack((states_list, group_air_length_list, group_delay_list, group_distance_list))
new_data = pd.DataFrame(data=array_data, columns=['States in US', 'Air length', 'Mean delay time',
                                                 'Air Distance'])

# add text in the map 

new_data['text'] = ' States names : ' + new_data['States in US'] + '<br>' + \
                    ' Air lenght: ' + new_data['Air length'] + 'k hours' + '<br>' + \
                    ' Mean delay time: ' + new_data['Mean delay time'] + 'hours' + '<br>' + \
                    ' Air Distance: ' + new_data['Air Distance'] + 'km'

In [ ]:

fig = go.Figure(data=go.Choropleth(locations=states_list,
                z=group_air_length_list, 
                text=new_data['text'],
                locationmode = 'USA-states',
                colorscale = 'Reds',
                colorbar_title = "k hours"))

fig.update_layout(
    title_text = '2019 Air time in different states',
    geo_scope='usa', # limite map scope to USA
)


app = dash.Dash()
app.layout = html.Div([
    dcc.Graph(figure=fig)
])

app.run_server(debug=True, use_reloader=False)  # Turn off reloader if inside Jupyter

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on